*{
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.7;
    background-color: aquamarine;
}

header {
    background-image: none;
    background-size: cover;
    text-align: center;
    position: relative;
    }

    .header img {
        width: 200px;
        height: auto;
    }

h1 {
    position: absolute;
    top: 30%;
    left: 40%;
    color: aqua;
    font-size:50px ;    
    }

nav ul {
        background-color: antiquewhite;
    }
   
        
    

nav ul li {
        float: center;
        display: inline;
        font-size: 40px;
        padding: 50px;
        margin: 50px;
        
        
    }               
    

