*{
    box-sizing: border-box;
    
}

body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.7;
    background-color: aquamarine;
    
}

header {
    text-align: center;
    position: relative;
    }

    .header img {
        width: 100px;
                
    }

    h1 {
        position: absolute;
        top: 30%;
        left: 40%;
        color: aqua;
        font-size: 50px;
    }

    nav ul {
        background-color: blanchedalmond;
    }

    nav ul li {
        float: center;
        display: inline;
        font-size: 40px;
        padding: 90px;
        margin: 50px;
    }

    article {
        font-style: italic;
        font-size: 22;
    }

    article img {
        width: 160px;
        float: left;
        margin-right: 0.8rem;
    }

    div ul {
        list-style-type: square;
        display: block;
    }

    div ul li {
        font-size: 2rem;
        display: block;
        list-style-type: circle;
    }

    .facts {
        margin-top: 5px;
        padding: 0rem;
        font-size: 20px;
        color: brown; /*set text color to red */
    }

    form {
        max-width: 4rem;
        position: absolute;
        box-sizing: 50%;
        margin: 1rem;
        
    }

    input {
        width: 1200%;
        height: 100%;
    }

    textarea {
        width: 1200%;
        height: 120%;
        font-size: 20px;
    }

    .empty-box {
        width: 800px;
        height: 400px;
        background-color: bisque;
    }

    .section {
        width: 30px;
        font-size: 30px;
    }

    
    button {
        width: 100px;
        height: 50px;
        background-color: blueviolet;
    }

    footer {
        font-size: 20px;
        float: right;
    }
